---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Postupy:] Publikovat a analyzovat Výsledky testů? | Dokumenty Microsoft'
author: rick-anderson
description: Visual Studio Team System umožňuje sestavovat změny kvality kódu projektu v průběhu projektu. Toto video poskytuje pokyny, jak publ...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 03/06/2020
ms.locfileid: "78641188"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="c518f-105">[Postupy:] Publikovat a analyzovat Výsledky testů?</span><span class="sxs-lookup"><span data-stu-id="c518f-105">[How Do I:] Publish and Analyze Test Results?</span></span>

<span data-ttu-id="c518f-106">autor – [Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="c518f-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="c518f-107">Visual Studio Team System umožňuje sestavovat změny kvality kódu projektu v průběhu projektu.</span><span class="sxs-lookup"><span data-stu-id="c518f-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="c518f-108">Toto video poskytuje pokyny k publikování výsledků testů do databáze Team Foundation Server projektu a k přidružení výsledků k číslu buildu.</span><span class="sxs-lookup"><span data-stu-id="c518f-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="c518f-109">Vidíte, že po publikování výsledků můžeme použít Správce sestav k zobrazení grafické reprezentace změn v našich výsledcích testů sestavení.</span><span class="sxs-lookup"><span data-stu-id="c518f-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="c518f-110">&#9654;Sledovat video (7 minut)</span><span class="sxs-lookup"><span data-stu-id="c518f-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="c518f-111">[Předchozí](how-do-i-use-generic-tests.md)
> [Další](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="c518f-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
