---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Postup:] Publikování a analyzovat výsledky testů? | Dokumenty Microsoft'
author: rick-anderson
description: Visual Studio Team System umožňuje grafu změny v kvalitě kódu projektu v průběhu projektu. Toto video obsahuje pokyny o tom, jak publ....
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: 0f1119340e4464720cfd16d0ff15764746ea1fea
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 04/09/2019
ms.locfileid: "59413500"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[Postup:] Publikování a analyzovat výsledky testů?

podle [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System umožňuje grafu změny v kvalitě kódu projektu v průběhu projektu. Toto video obsahuje pokyny o tom, jak publikovat výsledky testů do databáze projektu Team Foundation Server a přidružit výsledky s číslem sestavení. Vidíme, že po publikování výsledků jsme můžete zobrazit grafická reprezentace změny v našich výsledků testu sestavení použít Správce sestav.

[&#9654;Podívejte se na video (7 minut)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Předchozí](how-do-i-use-generic-tests.md)
> [další](how-do-i-discover-application-changes-prior-to-deployment.md)
