---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Postup:] Publikování a analyzovat výsledky testů? | Dokumenty Microsoft'
author: rick-anderson
description: Visual Studio Team System umožňuje grafu změny v kvalitě kódu projektu v průběhu projektu. Toto video obsahuje pokyny o tom, jak publ....
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: a575dd0af20bb1565606c93e5a189b7a3e35ff3d
ms.sourcegitcommit: 24b1f6decbb17bb22a45166e5fdb0845c65af498
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 03/01/2019
ms.locfileid: "57074812"
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="fe38f-105">[Postup:] Publikování a analyzovat výsledky testů?</span><span class="sxs-lookup"><span data-stu-id="fe38f-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="fe38f-106">podle [Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="fe38f-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="fe38f-107">Visual Studio Team System umožňuje grafu změny v kvalitě kódu projektu v průběhu projektu.</span><span class="sxs-lookup"><span data-stu-id="fe38f-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="fe38f-108">Toto video obsahuje pokyny o tom, jak publikovat výsledky testů do databáze projektu Team Foundation Server a přidružit výsledky s číslem sestavení.</span><span class="sxs-lookup"><span data-stu-id="fe38f-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="fe38f-109">Vidíme, že po publikování výsledků jsme můžete zobrazit grafická reprezentace změny v našich výsledků testu sestavení použít Správce sestav.</span><span class="sxs-lookup"><span data-stu-id="fe38f-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="fe38f-110">&#9654;Podívejte se na video (7 minut)</span><span class="sxs-lookup"><span data-stu-id="fe38f-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="fe38f-111">[Předchozí](how-do-i-use-generic-tests.md)
> [další](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="fe38f-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
